.contact {
    background-color: rgba(128, 128, 128, 0.13);
    opacity: value;
    
   
    font-size: 40px;
    margin: 10px;

}

.contact li {
    display: block;
    margin-bottom: 20px;
}
.contact-link {
    text-decoration: none;
    color: blue;
}