.contact {
    display: flex;
}

.contact ul {
    list-style: none;
    padding: 10px;
}

.contact li {
    display: block;
    margin-bottom: 20px;
}
.contact-link {
    text-decoration: none;
    color: blue;
}

@media (max-width: 500px) {
    .contact {
        flex-direction: column;
    }
}